<h1>My Questions</h1>

<div data-ng-init="initQuestions()"></div>

<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        <tr ng-repeat="question in vm.questions">
            <td>{{question.description}}</td>
            <td><button class="btn btn-danger" ng-click="vm.deleteQuestion(question)">Excluir</button></td>
        </tr>
    </tbody>
</table>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="descQuestion">Question</label>
            <input type="text" id="descQuestion" class="form-control" ng-model="vm.question.description" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveQuestion()">Save</button>
        </div>
    </form>
</div>
